<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>examen</title>
</head>
<body class="container">
  <h1>Examen</h1>
  <table class="table mt-5">
    <thead>
      <tr>
        <th scope="col">Secuencia</th>
        <th scope="col">Detalle</th>
        <th scope="col">Usuario</th>
        <th scope="col">Debe</th>
        <th scope="col">Haber</th>
        <th scope="col">Tipo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">000001</th>
        <td>Pago a
          proveedor</td>
        <td>JoAnCeMa</td>
        <td>100</td>
        <td>100</td>
        <td>Diario</td>
      </tr>
      <tr>
        <th scope="row">000002</th>
        <td>Pago a
          proveedor</td>
        <td>JoAnCeMa</td>
        <td>100</td>
        <td>100</td>
        <td>Diario</td>
      </tr>
      <tr>
        <th scope="row">000003</th>
        <td>Pago a
          proveedor</td>
        <td>JoAnCeMa</td>
        <td>100</td>
        <td>100</td>
        <td>Diario</td>
      </tr>
      <tr>
        <th scope="row">000004</th>
        <td>Pago a
          proveedor</td>
        <td>JoAnCeMa</td>
        <td>100</td>
        <td>100</td>
        <td>Diario</td>
      </tr>
      <tr>
        <th scope="row">000005</th>
        <td>Pago a
          proveedor</td>
        <td>JoAnCeMa</td>
        <td>100</td>
        <td>100</td>
        <td>Diario</td>
      </tr>
      <tr>
        <th scope="row">000006</th>
        <td>Pago a
          proveedor</td>
        <td>JoAnCeMa</td>
        <td>100</td>
        <td>100</td>
        <td>Diario</td>
      </tr>
      <tr>
        <th scope="row">000007</th>
        <td>Pago a
          proveedor</td>
        <td>JoAnCeMa</td>
        <td>100</td>
        <td>100</td>
        <td>Diario</td>
      </tr>
      <tr>
        <th scope="row">000008</th>
        <td>Pago a
          proveedor</td>
        <td>JoAnCeMa</td>
        <td>100</td>
        <td>100</td>
        <td>Diario</td>
      </tr>
      <tr>
        <th scope="row">000009</th>
        <td>Pago a
          proveedor</td>
        <td>JoAnCeMa</td>
        <td>100</td>
        <td>100</td>
        <td>Diario</td>
      </tr>
      <tr>
        <th scope="row">000010</th>
        <td>Pago a
          proveedor</td>
        <td>JoAnCeMa</td>
        <td>100</td>
        <td>100</td>
        <td>Diario</td>
      </tr>
    </tbody>
  </table>
</body>
</html>